* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #150941;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  color: #fff;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

.container h1 i {
  width: 60px;
  margin-right: 10px;
}

.container button {
  display: flex;
  align-items: center;
  background-color: #d60140;
  color: #fff;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
}

.container button:hover {
  background-color: #fd326f;
  color: rgb(54, 51, 51);
  transition: 0.5s;
}

.container button i {
  width: 25px;
  margin-right: 8px;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}

.input-box img {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
